.svn
artwork
autom4te.cache
Makefile
Makefile.in
configure
KKFileManager/app/kkfilemanager
*.bak
*~

KKFileManager/app/.deps
COPYING
AUTHORS
INSTALL
NEWS
aclocal.m4
compile
config.h.in
configfiles
depcomp
install-sh
missing
.dirstamp
*.o
.deps
*.log
*.status
config.h
stamp-h1

