[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KKFileManager
Comment=
Terminal=false
Type=Application
Categories=Utility;
Icon=KKFileManager
Exec=kkfilemanager
